body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #333;
    color: white;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav ul li a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;
}S

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

.skins-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
}

.skin-item {
    width: 20%;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.skin-item img {
    width: 60%;
    border-radius: 5px;
}

button.comprar-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

button.comprar-btn:hover {
    background-color: #218838;
}

@media screen and (max-width: 480px){
    header {
        background-color: gray;
        font-family: URW Chancery L, cursive;
    }
}

@media screen and (max-width:1024px){
    body {
        padding: 10%;
        font-size: medium;

    }

}   
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    }
    
    